

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/static/background.jpg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    overflow: hidden; 
}



.container {
    width: 60%;
    margin: 50px auto;
    padding: 50px;
    background-color: rgba(156, 179, 241, 0.8); 
    box-shadow: 0 0 50px rgb(147, 243, 250);
    text-align: center;
}


h1 {
    font-size: 30px;
    color: #333;
}

form {
    margin-top: 20px;
}

input {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #000000;
}

button {
    padding: 8px 16px;
    background-color: #3c923f;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #45a049;
}

h2 {
    color: #333;
    margin-top: 20px;
}
